
@font-face {
  font-family: 'serif-font';
  src: url('assets/TypoSlabserif-Light.ttf');
  font-style: normal;
}

body {
  min-height: 100vh;
  min-height: 100%;
  height:100%;
  background-color:rgb(181, 212, 247);
  position:relative;
}

html {
  height: 100%;
}

p {
  font-size: 1rem;
}

.big-p {
  font-size: 1.3rem
}

.sidebar-heading {
  font-size: 3.125rem;
}


.sidebar {
  width: 17.5rem; 
  height:100%; 
  text-align:center;
}

.sidebar-section {
  font-size: 2.125rem;
}


.sidebar-subsection {
  font-size: 1.75rem;
  color:#777
}



.dropdown-item {
  font-size: 1rem;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.section-heading {
  font-size: 2.5rem;
  font-family: 'serif-font';
  font-weight: bold;
  text-align: center; 
}

.intro-heading {
  font-size: 5.5rem;
  font-family: 'serif-font';
  font-weight: bold;
}

.intro-subheading {
  font-size: 5rem;
  font-family: 'serif-font';
  font-weight: bold;
}

.subsection-heading {
  font-size: 1.875rem;
  font-family: 'serif-font';
  text-align: center;
}

.chromearcade-carousel-caption {
  background: rgba(0, 0, 0, 0.3);
  top: 89%;
  left:0%;
  width:100%
 }

 .museum-carousel-caption {
   background: rgba(0, 0, 0, 0.25);
   top: 89%;
   left: 0%;
   width: 100%;
 }

 .linkify-carousel-caption {
  background: rgba(0, 0, 0, 0.25);
  top: 95%;
  left: 0%;
  width: 100%;
 }

 a{
  text-decoration: none;
  color: #61b8ff;
}

a:hover, a:active {
  text-decoration: none;
  color: #db12ff
}

.sidebar-heading:hover, .sidebar-section:hover {
  color:#ffff00
  }

.sidebar-subsection:hover {
  color:rgb(255, 214, 126)
  }

  img:hover{
    background-color: rgb(247, 247, 227);
  }

  image:hover{
    margin: 0 auto;
    height:105%;
    width:105%;
  }